absl-py==0.13.0
arch==5.0.1
astunparse==1.6.3
backcall==0.2.0
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.5
click==8.0.1
cloudpickle==2.0.0
cycler==0.10.0
Cython==0.29.24
dask==2021.9.0
debugpy==1.4.3
decorator==5.1.0
distributed==2021.9.0
entrypoints==0.3
fsspec==2021.8.1
gast==0.3.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.40.0
h5py==2.10.0
HeapDict==1.0.1
hurst==0.0.5
idna==3.2
ipython==7.27.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jupyter-client==7.0.2
jupyter-core==4.7.1
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
llvmlite==0.37.0
locket==0.2.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
matrixprofile==1.1.10
msgpack==1.0.2
nest-asyncio==1.5.1
networkx==2.6.3
numba==0.54.0
numpy==1.18.5
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.3
parso==0.8.2
partd==1.2.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pmdarima==1.8.2
prompt-toolkit==3.0.20
property-cached==1.6.4
protobuf==3.11.2
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.3.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.23.0
scipy==1.4.1
six==1.16.0
sortedcontainers==2.4.0
statsmodels==0.12.2
stumpy==1.9.2
tblib==1.7.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==2.2.0
toolz==0.11.1
tornado==6.1
tqdm==4.62.2
traitlets==5.1.0
-e git+https://github.com/yuhao12345/TSB-AD.git@2ab2a7da1100e9ed8a48cd30719b3c05a5a2c05a#egg=TSB_AD
tsfresh==0.18.0
tslearn==0.5.1.0
urllib3==1.26.6
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.12.1
zict==2.0.0
